<h2>Por país</h2>
<hr />

<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="buscar($event)"
      (onDebounce)="suggestions($event)"
      placeholder="Buscar país..."
    ></app-country-input>
  </div>
</div>

<ul class="list-group" *ngIf="showSuggestions">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let country of suggestedCountries"
  >
    <a class="nav-link" [routerLink]="['/country', country.cca2]">{{
      country.name.official
    }}</a>
  </li>
  <li
    class="list-group-item list-group-item-action"
    (click)="searchSuggestion(termino)"
  >
    <a class="nav-link">Buscar {{ termino }}</a>
  </li>
</ul>

<hr />

<div class="alert alert-danger" *ngIf="hasError">
  <p>No se encontró nada con el término {{ termino }}</p>
</div>

<div class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
